.skip-link {
    position: absolute;
    top: 0;
    left: -10000px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    left: 10px;
}

/* Global body styles */
body {
    margin: 0;
    /* Remove default margin */
    height: 100vh;
    /* Set body height to fill the viewport */
    display: flex;
    /* Ensures proper alignment */
    flex-direction: column;
    /* Stacks elements vertically */
    justify-content: flex-start;
    /* Aligns content to the top */
    background-image: url("../images/lake-6260668_1920.png");
    background-size: cover;
    /* Ensure the image covers the entire viewport */
    background-repeat: no-repeat;
    /* Prevent tiling */
    background-position: center;
    /* Center the image */
    background-attachment: fixed;
    /* Make the background stationary */
}


.text-box {
    background-color: rgba(250, 252, 255, 0.5);
    /* Semi-transparent black background */
    padding: 15px 25px;
    /* Adds space around the text */
    border-radius: 15px;
    /* Rounds the corners */
    display: inline-block;
    box-shadow: 0 4px 6px rgba(182, 182, 182, 0.3);
    /* Optional: Adds a shadow for better visibility */
    backdrop-filter: blur(5px);
    /* Optional: Adds a subtle blur effect */
}

a {
    color: #355e3b;
}

/* Header styles */
header {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

/* Header H1 styles */
header h1 {
    color: #233b27;
}

header nav {
    .nav-button {
        background-color: #D1EBFF;
        /* Green background */
        color: #1a6d9d;
        /* White text */
        border: none;
        /* Remove border */
        padding: 10px 20px;
        /* Add padding */
        text-align: center;
        /* Center the text */
        font-size: 16px;
        /* Set font size */
        border-radius: 5px;
        /* Rounded corners */
        cursor: pointer;
        /* Pointer cursor on hover */
        transition: background-color 0.3s ease;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
        /* Smooth hover transition */
    }

    /* Hover Effect */
    .nav-button:hover {
        background-color: #1a6d9d;
        color: #D1EBFF;
        /* Darker green on hover */
    }

    /* Focus Effect */
    .nav-button:focus {
        outline: none;
        background-color: #1a6d9d;
        color: #D1EBFF;
        /* Remove default focus outline */
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        /* Add focus glow */
    }
}

/* header h2 styles */
header h2 {
    color: #2b4930;
    text-align: left;
    /* Changed from center to left */
    margin-bottom: 10px;
}

/* header paragraph styles */
header p {
    color: #355e3b;
    margin-top: 0px;
    text-align: left;
    /* Added for left alignment */
}

/* Main content styles */
main {
    display: flex;
    /* Ensure flexbox is used */
    align-items: center;
    /* Vertically center items if needed */
    justify-content: center;
    /* Horizontally center items */
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

/* Lightbox Overlay */
.lightbox-overlay {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    /* Dark overlay */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Lightbox Content */
.lightbox-content {
    position: relative;
    background: white;
    border-radius: 15px;
    max-width: 800px;
    /* Increase max width for larger lightbox */
    width: 90%;
    /* Keep it responsive to viewport width */
    padding: 40px;
    /* Increase padding for a more spacious look */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
    /* Slightly stronger shadow */
    transform: scale(0.8);
    /* Initial zoom-out */
    transition: transform 0.3s ease-in-out;
}

/* Close Button */
/* .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
} */

/* Show Lightbox */
.lightbox-overlay.active {
    display: flex;
    /* Show the overlay */
}

.lightbox-overlay.active .lightbox-content {
    transform: scale(1);
    /* Zoom-in animation */
}

/* Text Box Default Styling */
.text-box-media {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(250, 252, 255, 0.8);
    margin: 20px 0;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 800px;
    cursor: pointer;
    position: relative;
    /* Indicates the box is clickable */
}

/* Hover effect for normal text box */
.text-box-media:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.text-box-media img {
    width: 50%;
    height: auto;
    object-fit: cover;
    border-radius: 15px 0 0 15px;
    flex-shrink: 0;
    /* Prevent image from shrinking */
}

.text-box-media div {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* Ensure the text aligns properly */
}

.text-box-media h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #233b27;
}

.text-box-media h4 {
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    color: #1d3121;
}

.text-box-media p {
    margin: 0;
    font-size: 1rem;
    color: #355e3b;
}

.text-box-media .trailer-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #FF0000;
    color: white;
    border: black 1px;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    z-index: 10;
    /* Ensure the button appears on top */
}

.text-box-media .trailer-button i {
    margin-right: 8px;
}

.text-box-media .trailer-button:hover {
    background-color: #FF5555;
}

.text-box-media iframe {
    border-radius: 10px;
    margin-top: 10px;
}



#scrollTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

#scrollTopBtn:focus {
    outline: 2px solid #fff;
}

#scrollTopBtn:hover {
    background-color: #333;
}

.skip-link {
    position: absolute;
    top: 0;
    left: -10000px;
    background: #000;
    color: #fff;
    padding: 8px;
    z-index: 100;
}

.skip-link:focus {
    left: 10px;
}

/* Footer styles */
footer {
    position: relative;
    /* Adjust to stay in document flow */
    bottom: 0;
    height: 4rem;
    background-color: #000000;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Footer H3 styles */
footer h3 {
    color: #fff5e1;
}

/* Styles for screens smaller than 768px (e.g., tablets) */
@media (max-width: 768px) {
    body {
        font-size: 18px;
        /* Slightly larger base font size */
        margin: 10px;
    }

    .text-box {
        padding: 12px 15px;
        font-size: 16px;
        /* Larger font size for text box content */
    }

    header h1 {
        font-size: 80px;
        /* Significantly larger font size for the main heading */
    }

    header h2 {
        font-size: 60px;
        /* Larger font size for subheadings */
        color: #2b4930;
        text-align: left;
        /* Changed from center to left */
        margin-bottom: 15px;
    }

    header p {
        font-size: 20px;
        /* Larger font size for paragraph text */
        color: #355e3b;
        margin-top: 0;
        line-height: 1.6;
        /* Increase line spacing for better readability */
        text-align: left;
        /* Changed from center to left */
    }

    header nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header nav .nav-button {
        font-size: 20px;
        /* Maintain larger button font size */
        padding: 18px 35px;
        width: 48%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    .text-box-media {
        flex-direction: column;
        /* Stack vertically */
    }

    .text-box-media img {
        width: 50%;
        /* Image spans full width */
        height: auto;
        border-radius: 15px 15px 0 0;
        /* Adjust for vertical stacking */
    }

    .text-box-media div {
        width: 100%;
        /* Text spans full width */
        padding: 15px;
    }

    .text-box-media h3,
    .text-box-media p {
        text-align: center;
        /* Optional: Center-align for smaller screens */
    }

    footer {
        width: 100%;
        /* Full-width footer */
        height: 5rem;
        /* Taller footer */
        background-color: #000000;
        text-align: center;
        position: relative;
    }

    footer h3 {
        font-size: 18px;
        /* Larger font size for footer text */
        color: white;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 18px;
        /* Slightly larger base font size */
        margin: 10px;
    }

    .text-box {
        padding: 12px 15px;
        font-size: 16px;
        /* Larger font size for text box content */
    }

    header h1 {
        font-size: 80px;
        /* Significantly larger font size for the main heading */
    }

    header h2 {
        font-size: 60px;
        /* Larger font size for subheadings */
        color: #2b4930;
        text-align: left;
        /* Changed from center to left */
        margin-bottom: 15px;
    }

    header p {
        font-size: 20px;
        /* Larger font size for paragraph text */
        color: #355e3b;
        margin-top: 0;
        line-height: 1.6;
        /* Increase line spacing for better readability */
        text-align: left;
        /* Changed from center to left */
    }

    header nav {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    header nav .nav-button {
        font-size: 20px;
        /* Maintain larger button font size */
        padding: 18px 35px;
        width: 48%;
        box-sizing: border-box;
        margin-bottom: 10px;
    }

    main {
        padding: 20px;
    }

    .text-box-media {
        flex-direction: column;
        /* Stack vertically */
    }

    .text-box-media img {
        width: 100%;
        /* Image spans full width */
        height: auto;
        border-radius: 15px 15px 0 0;
        /* Adjust for vertical stacking */
    }

    .text-box-media div {
        width: 100%;
        /* Text spans full width */
        padding: 15px;
    }

    .text-box-media h3,
    .text-box-media p {
        text-align: center;
        /* Optional: Center-align for smaller screens */
    }

    footer {
        width: 100%;
        /* Full-width footer */
        height: 5rem;
        /* Taller footer */
        background-color: #000000;
        text-align: center;
        position: relative;
    }

    footer h3 {
        font-size: 18px;
        /* Larger font size for footer text */
        color: white;
    }
}

/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #000d27;
        background-image: url("../images/planet-1702788_1920.jpg");
    }

    header h1 {
        color: #b6c2cf;
    }

    /* Hover Effect */
    header nav .nav-button {
        background-color: #596566;
        color: #fefaf4;
    }

    header nav .nav-button:hover {
        background-color: #fefaf4;
        color: #596566;
    }

    /* Focus Effect */
    header nav .nav-button:focus {
        background-color: #fefaf4;
        color: #596566;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    }

    /* header h2 styles */
    header h2 {
        color: #afbfcf;
        text-align: left;
        /* Changed to left */
    }

    /* header paragraph styles */
    header p {
        color: #afbfcf;
        text-align: left;
        /* Changed to left */
    }

    .text-box {
        background-color: rgba(0, 9, 40, 0.5);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    a {
        color: #97a5c2;
    }

    main .text-box-media {
        background-color: rgba(0, 9, 40, 0.6);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .text-box-media h3 {
        color: #afbfcf;
    }

    .text-box-media h4 {
        color: #9baab9;
    }

    .text-box-media p {
        color: #8694b1;
    }

}

@media (prefers-contrast: more) {
    body {
        background-color: #dbe0e3;
        background-image: url("../images/forest-7774205_1920.jpg");
    }

    header h1 {
        color: #000000;
    }

    /* Hover Effect */
    header nav .nav-button {
        background-color: #000000;
        color: #fefaf4;
    }

    header nav .nav-button:hover {
        background-color: #fefaf4;
        color: #000000;
    }

    /* Focus Effect */
    header nav .nav-button:focus {
        background-color: #fefaf4;
        color: #000000;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
    }

    /* header h2 styles */
    header h2 {
        color: #000000;
        text-align: left;
        /* Changed to left */
    }

    /* header paragraph styles */
    header p {
        color: #000000;
        text-align: left;
        /* Changed to left */
    }

    .text-box {
        background-color: rgba(219, 224, 227, 0.5);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    a {
        color: #111111;
    }

    main .text-box-media {
        background-color: rgba(219, 224, 227, 0.6);
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }

    .text-box-media h3 {
        color: #000000;
        ;
    }

    .text-box-media p {
        color: #000000;
    }

    #scrollTopBtn {
        background-color: white;
        color: black;
    }

    #scrollTopBtn:focus {
        outline: 2px solid #000000;
        color: white;
    }

    #scrollTopBtn:hover {
        background-color: #000000;
        color: white;
    }

    @media (prefers-color-scheme: dark) {
        body {
            background-color: #1a191f;
            background-image: url("../images/background-1939128_1280.jpg");
        }

        header h1 {
            color: #fefaf4;
        }

        /* Hover Effect */
        header nav .nav-button {
            background-color: #fefaf4;
            color: #000000;
        }

        header nav .nav-button:hover {
            background-color: #000000;
            color: #fefaf4;
        }

        /* Focus Effect */
        header nav .nav-button:focus {
            background-color: #000000;
            color: #fefaf4;
            box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.2);
        }

        /* header h2 styles */
        header h2 {
            color: #fefaf4;
            text-align: left;
            /* Changed to left */
        }

        /* header paragraph styles */
        header p {
            color: #fefaf4;
            text-align: left;
            /* Changed to left */
        }

        .text-box {
            background-color: rgba(0, 0, 0, 0.5);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }

        a {
            color: #eeeeee;
        }

        main .text-box-media {
            background-color: rgba(0, 0, 0, 0.6);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        }

        .text-box-media h3 {
            color: #fefaf4;
            ;
        }

        .text-box-media p {
            color: #fefaf4;
        }

        #scrollTopBtn {
            background-color: white;
            color: black;
        }

        #scrollTopBtn:focus {
            outline: 2px solid #000000;
            color: white;
        }

        #scrollTopBtn:hover {
            background-color: #000000;
            color: white;
        }
    }
}